<div class="flex flex-col items-center gap-4">
    <img src="assets/images/quotes.svg" alt="quotes">
    <img src="assets/images/stars.svg" alt="stars">
    <p class="w-[30ch] text-justify italic text-base">
        {{comment}}
    </p>

    <div class="flex flex-col items-center">
        <p class="font-semibold text-[#DF001C] text-base cursor-pointer">
            Read More
        </p>
    
        <p class="font-semibold text-black text-base">
            {{user}}
        </p>
    </div>
</div>