<footer class="mt-40">
    <app-newsletter />

    <div class="flex flex-row justify-between bg-black text-white text-base py-12 px-20">
        <div class="flex flex-col gap-6 w-[24ch]">
            <img src="assets/images/logo.svg" alt="logo">
            <p class="uppercase">
                C,3/3 South Chhyabithy Gazipur, Bangladesh
            </p>
            <p class="uppercase">
                Customer Service Hours: M-F 10Am-5PM Closed Weekend & Holidays
            </p>
            <p class="">
                +57300000000
            </p>
        </div>
        <div class="flex flex-col">
            <h3 class="uppercase text-lg font-semibold pb-10">
                Departments
            </h3>
            <div class="flex flex-col gap-1">
                <p class="uppercase">Radiance Glow Serum</p>
                <p class="uppercase">Ageless Eye Cream</p>
                <p class="uppercase">Coverage Foundation</p>
                <p class="uppercase">Beautiful Lipstick</p>
                <p class="uppercase">Shampoo</p>
                <p class="uppercase">Hair Oil</p>
            </div>
        </div>
        <div class="flex flex-col">
            <h3 class="uppercase text-lg font-semibold pb-10">
                Navigate
            </h3>
            <div class="flex flex-col gap-1">
                <p class="uppercase">Privacy Policy</p>
                <p class="uppercase">About Us</p>
                <p class="uppercase">Shipping/Refund</p>
                <p class="uppercase">Terms & Conditions</p>
            </div>
        </div>
        <div class="flex flex-col">
            <h3 class="uppercase text-lg font-semibold pb-10">
                Resources
            </h3>
            <div class="flex flex-col gap-1">
                <p class="uppercase">Contact Us / FAQ</p>
                <p class="uppercase">Shipping/Refund</p>
                <p class="uppercase">Buy Online</p>
            </div>
            <div class="flex flex-row gap-4 pt-20">
                <img class="w-[23px]" src="assets/icons/facebook.svg" alt="facebook">
                <img class="w-[23px]" src="assets/icons/instagram.svg" alt="instagram">
            </div>
        </div>
    </div>
</footer>